body {
	--bg-color: #222831;
	--text-color: #EEEEEE;
	--accent-color: #00ADB5;
	--secondary-color: #393E46;
	background-color: var(--bg-color);
	font-family: Arial, sans-serif;
	color: var(--text-color);
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
}

#lien {
	font-style: italic;
	color: #cac1c1;
}

#lien:hover {
	color: var(--accent-color);
}

#lien_page {
	color: var(--accent-color);
	font-style: italic;
}

#lien_page:hover {
	text-decoration: none;
	color: var(--text-color);
}

#conteneur_grid {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	display: flex;
	align-items: center;
	background-color: var(--bg-color);
	padding: 0px;
}

#photo_profil {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 20px;
}

#info_personnelles {
	flex-grow: 1;
}

h1 {
	font-size: 40px;
	margin: 0;
}

#entete {
	font-size: 20px;
	margin: 10px 0;
}

#date_de_naissance {
	font-size: 15px;
}

#trait {
	background-color: var(--secondary-color);
	height: 2px;
	margin: 5px;
}

section {
	margin-bottom: 10px;
}

h2 {
	color: var(--accent-color);
}

a {
	color: var(--text-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.flexbox {
	display: flex;
	justify-content: space-between;
}

.flex-item {
	flex-basis: 30%;
	background-color: var(--secondary-color);
	padding: 15px;
	border-radius: 10px;
}

ul {
	padding-left: 20px;
}

#signature {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	color: gray;
	font-size: 0.8em;
	padding: 5px;
	text-align: center;
	background-color: var(--bg-color);
}

#scroll-to-top {
	position: fixed;
	bottom: 20px;
	left: 20px;
	background-color: var(--accent-color);
	color: var(--text-color);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	text-decoration: none;
	opacity: 0.7;
	transition: opacity 0.3s;
}

#scroll-to-top:hover {
	opacity: 1;
}

.formation-content {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
}

#etablissement-image {
	float: right;
	margin-left: 20px;
	max-width: 300px;
	border-radius: 25px;
}

.formation-content ul {
	flex: 1;
}

/* Styles spécifiques à la page des compétences en réseaux et télécommunications */
#competences-page {
	font-family: Arial, sans-serif; /* Exemple de police */
}

.rt-competence-section {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
}

.rt-competence-content {
	flex: 1;
	padding-right: 20px;
}

.rt-competence-image {
	width: 300px;
	height: auto;
	border-radius: 10px; /* Bords arrondis */
	object-fit: cover; /* Pour garder le ratio de l'image */
}

.rt-section {
	border-bottom: 1px solid #ccc; /* Trait de séparation */
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.rt-section:last-child {
	border-bottom: none; /* Supprime le trait pour la dernière section */
}

.competence-section {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
}

.competence-content {
	flex: 1;
	padding-right: 20px;
}

.competence-image {
	width: 300px;
	height: auto;
	border-radius: 10px;
	object-fit: cover;
}

#lien_signature {
	font-style: italic;
	color: gray;
}