body {
	background-color: #222831;
	box-sizing: border-box;
	font-family: arial;
}

h1 {
	color: #EEEEEE;
	border-style: solid;
	border-width: 0px;
	margin: 0;
    font-size: 40px;
	padding: 10px;
	background-color: #222831;
	display: flex;
    justify-content: left;
    align-items: center;
}

body header p{
	color: #eeeeee;
	background-size: cover;
	margin: 0;
	border-style: solid;
	border-width: 0px;
	font-size: 20px;
	padding: 2px 0px 10px 50px;
	display: flex;
	justify-content: left;
	align-items: left;
}

#trait {
	background-size: cover;
	border-style: solid;
	border-width: 0px;
	margin: 2px;
	font-size: 100vw;
	padding: 5px;
	display: flex;
	background-color: #393E46;
}

#date_de_naissance {
	color: #eeeeee;
	font-size: 15px;
	text-align: left;
	padding: 1px 0px 2px 2px;
}

#titre_présentation {
	border-width: 0px;
	background-color: #393E46;
	padding: 5px 25px 5px 25px;
	margin: 5px 25% 2% 25%;
	border-radius: 30px;
	text-align: center;
	font-size: 20px;
}

#titre_présentation:hover {
	background-color: #00ADB5;
	color: #eeeeee;
	font-size: 25px;
	text-shadow: #222831 0px 5px 5px;
	border-radius: 50px;
}

body div a {
	text-decoration: none;
	color: #EEEEEE;
}